.page {
  background-color: #f8f8f8;
  color: #333333;
  font-family: Lato, sans-serif;
}

.container {
  display: block;
  margin: 0 auto 0;
  width: 500px;
}

.description {
  text-align: right;
}

@media (max-width: 768px) {
  .description {
    text-align: center;
  }
}

.description__picture {
  width: 100%;
}

.description__info {
  font-family: fantasy, cursive;
}

.header {
  border-bottom: 2px solid #333333;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  padding: 30px 0 10px;
  text-transform: uppercase;
}

.btn {
  background: none;
  border: 0;
  color: #888888;
  cursor: pointer;
  font-family: Lato, sans-serif;
  font-size: 15px;
  outline: none;
  width: 60px;
}

.btn:hover {
  color: #3a3a3a;
}

.btn__picture {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn__picture:hover {
  transform: rotateZ(0);
}

.input {
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #dddddd;
  color: #888888;
  display: inline-block;
  flex-grow: 1;
  font-family: Lato, sans-serif;
  font-size: 18px;
  height: 21px;
  line-height: 18px;
  margin: 0;
  outline: none;
  padding: 0 9px;
  width: 226px;
}

.input:focus {
  color: #333333;
}

.tasks {
  margin: 0;
  padding: 0;
}

.tasks__row {
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  list-style: none;
  overflow: hidden;
  padding: 20px 0;
}

.tasks__label {
  box-sizing: border-box;
  display: inline-block;
  flex-grow: 1;
  font-size: 18px;
  padding-left: 10px;
  width: 226px;
}

.tasks__checkbox {
  margin: 0 10px;
  outline: none;
}

.tasks__row .input,
.tasks__row--edit .tasks__label {
  display: none;
}

.tasks__row--edit .input {
  display: inline-block;
  width: 224px;
}

.tasks--completed .tasks__label {
  color: #888888;
  text-decoration: line-through;
}

.add-new__label {
  border-bottom: 2px solid #333333;
  color: #333333;
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin: 0 0 20px;
  padding: 30px 0 10px;
  text-transform: uppercase;
}

.add-new__form {
  display: flex;
}

.add-new__input {
  width: 318px;
}
